# Active Environment Profile (local, docker, staging, production)
APP_ENVIRONMENT=local

# Postgres password
POSTGRES_PASSWORD=

# Machine-to-machine application secret for calling Logto's Management API (sync tool only)
LOGTO_M2M_APP_SECRET=
